 <div class="gradient-container" style="height: 100vh">
  <%= render 'shared/navbar' %>
  <div class="card-cover-subcategory" style="background-size: cover; background-image: url(<%= asset_path @sub_category.asset_path %>)">
    <div  class="header-subcategory">
      <p> <%= @sub_category.title %></p>
    </div>
    <div class="header-subcategory-description">

      <div>
        <p>one step closer <br>to sustainable living.</p> <p>pick a store you like...</p>
      </div>
    </div>
  </div>

  <% @businesses.each do |business| %>
    <%= link_to business_path(business), style:"text-decoration: none" do  %>
      <div class="card-show-overview">
        <% if business.photo.attached? %>
        <%= cl_image_tag business.photo.key, width: 400, crop: :fill %>
        <% else %>
        <img src="https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5a33f2b431358e749fd321af%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D0%26cropX2%3D416%26cropY1%3D0%26cropY2%3D416" alt="humana">
        <% end %>
        <div class="card-show-overview-infos">
          <h2><%= business.name %></h2>
          <p><%= business.description.truncate(100, separator: ' ') %></p>
          <p style="text-align: right">rating</p>
        </div>
      </div>
    <% end %>

  <% end %>
  <div id="footer-sticky" class="btn-container-back">
    <%= link_to "<", categories_path, class: "btn-back" %>
    <div class="btn-menu-bottom">
      <img src="<%= asset_path('menu.svg') %>" alt="menu">
    </div>
  </div>
</div>
