<div class="gradient-container">
  <%= render 'shared/navbar' %>
  <div class="card-profile text-center">
    <a href="" style="color: black; text-decoration: underline"><h1><%= @business.name %></h1></a>
    <p><%= @business.description %></p>
  </div>
   <!-- <div id="map"
    style="width: 50vw; height: 350px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div> -->

  <div class="card-review">
    <%= simple_form_for ([@business, @review]) do |f| %>
    <div class="text-center">
      <%= f.input :rating, required: true, collection: (1..5).to_a, label: "Rate your experience", class:"text-center"%>
    </div>
      <%= f.input :content, required: true, label: false, input_html: { maxlength: 100, size: 40}, include_blank: false, include_hidden: false, placeholder: "tell us more about your experience with #{@business.name}...", as: :text %>
      <div class="text-center">
        <%= f.submit class: "btn-review"%>
      </div>
    <% end %>
  </div>

  <p style="margin-top: 2vh;font-size: 17px;">What other people say about <%= @business.name %></p>

  <% if @business.reviews.empty? %>
    <p style="font-weight: lighter;">Be the first to leave a review</p>
  <% else %>
    <% @business.reviews.each do |review| %>
      <div class="card-review-overview">
        <div class="card-review-left-user-div">
          <% if review.user.photo.attached? %>
          <%= cl_image_tag review.user.photo.key, width: 400, crop: :fill %>
          <% else %>
          <img src="https://www.flaticon.com/svg/static/icons/svg/1077/1077114.svg" alt="profile_pic">
          <% end %>
          <%= link_to "Go to Profile", user_path(review.user) %>
        </div>
        <div class="card-review-overview-infos">
          <% if review.user.first_name.present? %>
            <h2><%= review.user.first_name %></h2>
          <% else %>
            <h2>Anonymous</h2>
          <% end %>
          <p><%= review.content %></p>
          <p style="text-align: right">
            <% counter = 0 %>
            <% 5.times do %>
              <i style="text-align: right" class="fas <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>" ></i>
              <% counter += 1 %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
  <a class="btn-main" href=<%= @business.url %> >Visit Shop</a>

 <div id="footer-sticky" class="btn-container-back">
    <%= link_to '<', businesses_path(category_id: @business.category.id), class: "btn-back" %>
    <div class="btn-menu-bottom">
      <% if user_signed_in? && current_user.photo.present? %>
        <li class="nav-item dropdown">
          <!-- <img src="<%= asset_path('menu.svg') %>" alt="menu"> -->
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="border-radius: 6px">
            <%= link_to "Add a business", new_business_path , class: "dropdown-item" %>
            <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% elsif user_signed_in?%>
        <img src="https://www.flaticon.com/svg/static/icons/svg/1077/1077114.svg" alt="profile_pic" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="border-radius: 6px">
            <%= link_to "Add a business", new_business_path, class: "dropdown-item" %>
            <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
      <% else %>
        <div class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
