<div class="gradient-container">
  <%= render 'shared/navbar' %>
  <div class="card-profile text-center">
    <a href="" style="color: black; text-decoration: underline"><h1><%= @business.name %></h1></a>
    <p><%= @business.description %></p>
  </div>
   <!-- <div id="map"
    style="width: 50vw; height: 350px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div> -->

  <div class="card-review">
    <%= simple_form_for ([@business, @review]) do |f| %>
    <div class="text-center">
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", class:"text-center"%>
    </div>
      <%= f.input :content, label: false, placeholder: "tell us more about your experience with #{@business.name}...", as: :text %>
      <div class="text-center">
        <%= f.submit class: "btn-review"%>
      </div>
    <% end %>
  </div>

  <p style="margin-top: 2vh;font-size: 17px;">What other people say about <%= @business.name %></p>

  <% if @business.reviews.empty? %>
    <p style="font-weight: lighter;">Be the first to leave a review</p>
  <% else %>
    <% @business.reviews.each do |review| %>
      <div class="card-review-overview">
        <div class="card-review-left-user-div">
          <% if review.user.photo.attached? %>
          <%= cl_image_tag review.user.photo.key, width: 400, crop: :fill %>
          <% else %>
          <img src="https://www.flaticon.com/svg/static/icons/svg/1077/1077114.svg" alt="profile_pic">
          <% end %>
          <a href="#">Link to all users-reviews</a>
        </div>
        <div class="card-review-overview-infos">
          <h2><%= review.user.first_name %></h2>
          <p><%= review.content %></p>
          <p style="text-align: right">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fas <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>" ></i>
              <% counter += 1 %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
  <a class="btn-main" href=<%= @business.url %> >Visit Shop</a>
  <div id="footer-sticky" class="btn-container-back">
      <%= link_to "<", categories_path, class: "btn-back" %>
      <div class="btn-menu-bottom">
        <img src="<%= asset_path('menu.svg') %>" alt="menu">
      </div>
    </div>
</div>
