<h1>Business Show Page</h1>
<%= @business.name %>

<h2>What other people say about </br> <%= @business.name %></h2>
<% if @business.reviews.empty? %>
  <p>Be the first to leave a review</p>
<% else %>
  <% @business.reviews.each do |review| %>
    <%= review.content %>
    <span class="badge badge-primary badge-pill">
    <% counter = 0 %>
    <% 5.times do %>
      <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
      <% counter += 1 %>
    <% end %>
    </span>
  <% end %>
<% end %>


<%= simple_form_for ([@business, @review]) do |f| %>
  <%= f.input :content, as: :text %>
  <%= f.input :rating, as: :integer%>
  <%= f.submit %>
<% end %>
