<div class="gradient-container" >
    <%= render 'shared/navbar' %>

  <div class="header-category">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar", style:"width: 130px" %>
    <% else %>
      <img src="https://www.flaticon.com/svg/static/icons/svg/1077/1077114.svg" alt="profile_pic">
    <% end %>

    <% if user_signed_in? && @user.first_name.present? && @user.last_name.present? %>
      <p> <%= @user.first_name %> <%= @user.last_name %></p>
    <% else %>
    <p> Hi there!</p>
    <% end %>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">bio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">review</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#bookmarks" role="tab" aria-controls="contact" aria-selected="false">bookmarks</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="profile-container">
        <% if @user.bio %>
          <div class="text-center"><%= @user.bio %></div>
        <% else %>
          <p> It looks like you haven't filled in your bio yet.. How come? Tell us more about yourself and join the Sustainably community!</p>
        <% end %>
        <% if @user == current_user %>
        <div id="profile-edit-button" class="text-center "><%= link_to 'Edit my profile', edit_user_path(current_user) %></div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="profile-container">
      <% if @user.reviews.empty? %>
        <p>You didn't leave any review yet.</p>
        <div class="text-center"><%= link_to 'Browse our shops', categories_path, class: "underline" %></div>
      <% else %>
      <% @user.reviews.each do |review| %>
      <%= link_to business_path(review.business), style:"text-decoration: none" do  %>
        <div class="card-review-overview">
          <div class="card-review-left-user-div">
            <% if review.user.photo.attached? %>
            <%= cl_image_tag review.user.photo.key, width: 400, crop: :fill %>
            <% else %>
            <img src="https://www.flaticon.com/svg/static/icons/svg/1077/1077114.svg" alt="profile_pic">
            <% end %>
          </div>

          <div class="card-review-overview-infos">
            <h2><%= review.business.name %></h2>
            <p><%= review.content %></p>
            <p style="text-align: right"><span class="badge badge-primary badge-pill">
              <% counter = 0 %>
              <% 5.times do %>
                <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                <% counter += 1 %>
              <% end %>
            </span></p>
          </div>
        </div>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="bookmarks" role="tabpanel" aria-labelledby="contact-tab">
    <div class="profile-container text-center">
      <p> These are all your bookmarks:</p>
      <% @businesses = [] %>
      <% @bookmarks.each do |bookmark| @businesses << bookmark.business end %>
      <% @businesses.each do |business| %>
        <%= link_to business_path(business), style:"text-decoration: none" do  %>
          <div class="card-show-overview">
            <% if business.photo.attached? %>
            <%= cl_image_tag business.photo.key, width: 400, crop: :fill %>
            <% else %>
            <img src="https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5a33f2b431358e749fd321af%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D0%26cropX2%3D416%26cropY1%3D0%26cropY2%3D416" alt="humana">
            <% end %>
            <div class="card-show-overview-infos">
              <h2><%= business.name %></h2>
              <p><%= business.description.truncate(100, separator: ' ') %></p>
              <p style="text-align: right">
                <% if business.reviews.present? %>
                  <% ratings = [] %>
                  <% business.reviews.each do |review| %>
                    <% ratings << review.rating %>
                <% end %>
                <% @average = (ratings.reduce(:+) / ratings.size.to_f) %>
                <% output = '' %>
                <% if (1..5).include?(@average.floor) %>
                  <% @average.floor.times { output += "<i class='fas fa-star'></i>" } %>
                <% end %>
                <% if @average >= (@average.floor + 0.25) && @average <= (@average.floor + 0.75) && @average.to_i != 5 %>
                  <% output += "<i class='fas fa-star-half'></i>" %>
                <% end %>
                  <%= output.html_safe %>
                <%#= @average %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
