<div id="footer-sticky" class="avatar-bottom">
    <div class="btn-menu-bottom">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <!-- <img src="<%= asset_path('menu.svg') %>" alt="menu"> -->
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Add a business", new_business_path , class: "dropdown-item" %>
            <%= link_to "My Profile", user_path(current_user) %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </div>
  </div>



