<!-- <h1>SubCategories Index</h1>
<ul>
<% @sub_categories.each do |sub_category| %>
<li><%= link_to sub_category.title, businesses_path(params: {sub_category_id: sub_category.id}) %></li>
<% end %>
</ul> -->

<div class="gradient-container" style="height: 100vh">
  <%= render 'shared/navbar' %>
  <h2 style="font-size: 28px; margin-top: 4vh;"> what are you looking for?</h2>
  <img src="<%= asset_path('logo.png') %>" alt="logo-sustainably" style="width: 70px; height: 70px;margin-bottom: 3vh;">
    <% @sub_categories.each do |sub_category| %>
    <div class="card-subcategory" style="background-size: cover; background-image: url(<%= asset_path sub_category.asset_path %>)">
    <div class="btn-subcategory-white"> <%= link_to sub_category.title, businesses_path(params: {sub_category_id: sub_category.id}) %></div></div>
    <% end %>
    <div id="footer-sticky" class="btn-container-back">
      <%= link_to "<", categories_path, class: "btn-back" %>
      <div class="btn-menu-bottom">
        <img src="<%= asset_path('menu.svg') %>" alt="menu">
      </div>
    </div>
</div>
