<div class="gradient-container" style="height: 100vh">
  <%= render 'shared/navbar' %>
  <div class="header-category">
    <h2> ONE STEP CLOSER TO SUSTAINABLE LIVING. </h2>
    <p>TELL US WHAT <br> YOU'RE LOOKING FOR</p>
  </div>
    <% @categories.each do |category| %>
  <div class="card-category">
    <div class="card-category-elements">
      <img src="https://images.unsplash.com/photo-1454944338482-a69bb95894af?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1504&q=80" style="width: 400" alt="">
      <div class="card-category-infos">
        <h2 class="underline"><%= category.title %></h2>
        <p> this is a description</p>
      </div>
    </div>
  </div>
<% end %>
    <div id="footer-sticky" class="btn-container-back">
      <%= link_to "<", root_path, class: "btn-back" %>
      <div class="btn-menu-bottom">
         <img src="<%= asset_path('menu.svg') %>" alt="menu">
      </div>
    </div>
</div>




     <!--  <% @categories.each do |category| %>
      <div class="card-category" style="background-size: cover; background-image: url(<%= asset_path category.asset_path %>)"><div class="btn-category-black"> <%= link_to category.title, category_sub_categories_path(category) %> </div></div>
    <% end %> -->
