<div class="gradient-container" >
  <%= render 'shared/navbar' %>
  <div class="header-category">
    <h2> ONE STEP CLOSER TO SUSTAINABLE LIVING. </h2>
    <p>TELL US WHAT <br> YOU'RE LOOKING FOR</p>
  </div>
    <% @categories.each do |category| %>

      <%= link_to businesses_path(category_id: category) do %>
  <div class="card-category" >
    <div class="card-category-elements">
      <img src="<%= asset_path(category.asset_path) %>" style="width: 400" alt="">
      <div class="card-category-infos">
        <h2 class="underline"><%= category.title %></h2>
        <p> this is a description</p>
      </div>
    </div>
  </div>
      <% end %>
<% end %>

    <div id="footer-sticky" class="btn-container-back">
      <%= link_to "<", root_path, class: "btn-back" %>
      <div class="btn-menu-bottom">
         <img src="<%= asset_path('menu.svg') %>" alt="menu">
      </div>
    </div>
</div>




     <!--  <% @categories.each do |category| %>
      <div class="card-category" style="background-size: cover; background-image: url(<%= asset_path category.asset_path %>)"><div class="btn-category-black"> <%= link_to category.title, category_sub_categories_path(category) %> </div></div>
    <% end %> -->
