<div class="gradient-container" >
  <%= render 'shared/navbar' %>
  <div class="header-category">
    <h2> ONE STEP CLOSER TO SUSTAINABLE LIVING. </h2>
    <p>TELL US WHAT <br> YOU'RE LOOKING FOR</p>
  </div>
    <% @categories.each do |category| %>

      <%= link_to businesses_path(category_id: category), style:"text-decoration: none" do %>
  <div class="card-category" >
    <div class="card-category-elements">
      <img src="<%= asset_path(category.asset_path) %>" style="width: 400" alt="">
      <div class="card-category-infos">
        <h2 class="underline"><%= category.title %></h2>
        <p> <%= category.description %> </p>
      </div>
    </div>
  </div>
      <% end %>
<% end %>
  <%= render 'shared/footer' %>
</div>




     <!--  <% @categories.each do |category| %>
      <div class="card-category" style="background-size: cover; background-image: url(<%= asset_path category.asset_path %>)"><div class="btn-category-black"> <%= link_to category.title, category_sub_categories_path(category) %> </div></div>
    <% end %> -->
